h1, p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#mainContain {
	background: cornflowerblue;
	color: rgb(10, 2, 2);
}


.boxWidth {
  margin: 10px;
  height: 450px;
  width: 200px;
  border-radius: 25px;
}

.boxColor1 {
  background-color: bisque;
}
.txtBox{

  margin-left: 85px;
    border-radius: 5px;
}